@font-face {
    font-family: rough_typewriter;
    src: url(rough_typewriter.otf);
}

html {
	overflow: scroll;
}

body{
    max-width:800px;
    margin: 0px auto;
    padding:0px 5px;
    font-size: 3rem;
    font-family: "rough_typewriter";
    color:#444;
}

.logo {
    width: 75%;
}

hr{
    margin: 0px 0px;
    padding: 0px 0px;
   border-top: .15rem dashed black;
}

.top-view {
    padding: .5rem 0;
    font-size: 0rem;
}

.middle-view {
    background-color: white;
    color: black;
    padding: .5rem 0;
    font-size: 2.0rem;
#    white-space: pre-wrap;
}

.middle-left {
	float: left;
}

.middle-right {
	float: right;
}

.bottom-view {
    padding: .5rem 0;
    font-size: 1.8rem;
    overflow-wrap: break-word;
}

a.menulink {
    margin: 0;
    padding: 0vh .7rem;
    font-size: 2rem;
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
}

a:link {
    text-decoration: none;
    color: #e14600;
}

a:visited {
    text-decoration: none;
    color: #e14600;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: #e14600;
}
