.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
#  max-height: 120%;
}

.full-view {
    padding: 2vh 2vw;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(10px, 10vh) 1fr;
    height: 96vh;
    width: 96vw;
    background-color: #000000;
    overflow: clip;
}

.top-view {
    grid-column: 1;
    grid-row: 1 / 2;
    height: 1fr;
    width: 1fr;
    padding: 0;
    margin: 0;
}

.bottom-view {
    grid-column: 1;
    grid-row: 2 / 2;
    height: 1fr;
    width: 1fr;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: sugarpox;
    src: url(sugarpox.ttf);
}

html, body {
    background-color: #000000;
    color: #ffe700;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: sugarpox, Verdana, Arial, sand-serif;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}
