a.menulink {
    margin: 0;
    padding: 0vh .7rem;
    font-size: 4.2rem;
    font-family: pippahw;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 90vh;
}

.album {
  padding: 2vh 2vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.6rem;
  max-height: 88vh;
  max-width: 88vw;
  font-family: courier, monospace;
}

.bio {
  padding: 2vh 2vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 88vw;
  font-size: 2.0rem;
  font-family: courier, monospace;
}

.about {
  padding: 2vh 2vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 88vw;
  font-size: 1.6rem; 
  font-family: courier, monospace;
}

.full-view {
    padding: 2vh 2vw;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(3.5rem, 4.0rem) 1fr;
    background-color: #ffffff;
}

.top-view {
    grid-column: 1;
    grid-row: 1 / 3;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.middle-view {
    border-top: dotted;
    grid-column: 1;
    grid-row: 2 / 3;
    padding: 0;
    margin: 0;
}

.bottom-view {
    border-top: dotted;
    grid-column: 1;
    grid-row: 3 / 3;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: pippahw;
    src: url(pippahw.ttf);
}

html, body {
    background-color: #ffffff;
#    color: #ffd023;
    color: #000000;
    margin: 0;
    padding: 0;
    font-family: Courier;
    font-size: 1.0rem;
}

a:link {
    text-decoration: none;
#    color: #ffd023;
    color: #000000;
}

a:visited {
    text-decoration: none;
#    color: #ffd023;
    color: #000000;
}

a:hover {
    text-decoration: none;
#    color: #dd00ff;
    color: #222222;
}

a:active {
    text-decoration: none;
#    color: #dd00ff;
    color: #222222;
}

