@font-face {
    font-family: rough_typewriter;
    src: url(rough_typewriter.otf);
}

html {
    overflow: scroll;
    background-color: #eee;
}

body {
    font-family: "rough_typewriter";
    display: flex;
    justify-content: center;
}

.logo {
    width: 75%;
    margin: auto;
}

hr {
    margin: 0 0 0 0;
    padding:  0 0 0 0;
    border-top: .15rem dashed black;
}

.grid {
    display: grid;
    max-width: 800px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    grid-gap: 0;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    background-color: #fff;
    color: #444;
}

.title {
    margin: auto;
    justify-self: center;
    grid-column: 1; 
    grid-row: 1 ;
    padding: .5rem 0 .5rem 0;
    font-size: 0;
}

.menu {
    border-top-style: dashed;
    border-bottom-style: dashed;
    grid-column: 1;
    grid-row: 2;
    background-color: white;
    color: black;
    padding: 0 0 0 0;
    font-size: 2.0rem;
#    white-space: pre-wrap;
}

.content {
    justify-self: left;
    grid-column: 1;
    grid-row: 3;
    padding: 1vh 1vh 0vh 1vh;
    font-size: 1.8rem;
    overflow-wrap: break-word;
}

a.menulink {
    margin: 0 0 0 0;
    padding: 0 .7rem 0 .7rem;;
    font-size: 2rem;
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
}

a:link {
    text-decoration: none;
    color: #e14600;
}

a:visited {
    text-decoration: none;
    color: #e14600;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: #e14600;
}
